.methods-section {
  position: relative;
  max-width: 1000px;
  width: 91%;
  margin: 0 auto;

  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    font-weight:500;
    font-family: Arial, sans-serif;

  }
  .agile-scrum-image {
    width: 100%;
  
  }
}