.category-menu {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 0;

    legend {
        width: calc(100% - 16px);
        height: auto;
        margin-bottom: 8px;
        background-color: $fern;
        padding: 8px;
    }

    li {
        height: auto;
        margin: 3px 0 3px 0;
        padding: 8px;
    }

    @for $i from 1 through length($category-colors) {
        li:nth-of-type(#{$i}) {
          background: nth($category-colors, $i);
        }
    }
}
