.home-section {
	background-color: $white;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top: 81px;

    @media screen and (max-width: 480px) {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 215px;
        // code for the slider which is not used atm.
        /* .mobile-home-slider{
            list-style-type: none;
            padding:0;
            margin:0;
        }

        .mobile-home-slide{
            list-style-type: none;
        } */

        .mobile-home-slider-image {
            width: 100%;
        }
    }

    @media screen and (max-device-width: 480px) { 
        margin-top: 60px;
    }
}

.home-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    


// code for the styling of the mobile slider nav, not used atm.
/* 
.mobile-home-slider-nav {
    list-style-type: none;
    padding: 0;
    margin-left: calc(50% - 45px);
    bottom: 0;
    position: absolute;
}

.mobile-home-slider-bullet {
    display: inline;
    margin: 3px;
    list-style-position: inside;
    overflow: hidden;

    a {
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        border: 2px solid $white;
        text-decoration: none;

        &:active {
            background: $white;
        }
    }
}
*/