@charset "UTF-8";
/* Mixins */
/* Modules */
/*
 * The color names are based on the hexa-color and
 * converted with http://name-of-color.com/
*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,300,600);
body {
  background-color: #ffffff; }

* {
  font-family: 'Ubuntu', sans-serif; }

h2 {
  display: block;
  text-align: center;
  margin: 40px auto 30px;
  text-transform: uppercase;
  font-size: 32px; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.2em; } }

h3 {
  margin: 0;
  padding-top: 4px; }

.text p {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300; }
.text a {
  text-decoration: none;
  font-size: 12px;
  color: #ffffff; }

a:hover, a:link, a:active, a:visited {
  color: #ff8a00;
  text-decoration: none; }

.section-title {
  display: block;
  text-align: center;
  margin: 40px auto 30px auto;
  text-transform: uppercase;
  font-size: 2em; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 1.2em; } }

/* code for styling the code in the blog */
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 0px 10px; }
  @media screen and (max-width: 480px) {
    pre {
      overflow: visible;
      white-space: pre-wrap;
      /* css-3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */ } }

.register-text {
  font-size: 14px;
  margin: 0;
  padding-top: 45px; }

/*code for styling the header of the comment section on blog page*/
.reply-wrapper h3 {
  text-transform: uppercase; }

.comment-wrap {
  font-size: 12px; }

.display-height, .register-btn, .send-register-btn {
  display: block;
  height: 50px; }

.hover, .send-register-btn:hover, .submit-project-btn:hover, .more-blogs-btn:hover, .header-btns .pitch-btn:hover {
  background-color: #ffffff;
  border: 2px solid #ff8a00;
  color: #ff8a00; }

.hover-white, .register-btn:hover, .pitch-your-project-btn:hover {
  background-color: #ff8a00;
  border: 2px solid #ffffff;
  color: #ffffff; }

/* main button styling */
.btn {
  width: 150px;
  height: 35px;
  background-color: #ff8a00;
  border: 2px solid #ff8a00;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  text-decoration: none;
  border: none; }

/* register for newsletter popup button */
.register-btn {
  background-color: #ffffff;
  color: #ff8a00;
  width: 300px;
  margin: 0 auto;
  cursor: pointer; }

/* register project button */
.send-register-btn {
  width: 250px;
  margin: 10px 0 0;
  float: right; }
  @media screen and (max-width: 800px) {
    .send-register-btn {
      margin: 10px 0 6px;
      width: 100%; } }

/* project button -- project section + read more button on blog section homepage */
.submit-project-btn, .more-blogs-btn {
  height: auto;
  width: auto;
  padding: 16px 30px;
  border: 2px #ffffff solid;
  margin: 10px auto 25px;
  display: block; }

.more-blogs-btn {
  margin: 0 auto; }

.submit-project-btn {
  margin: 40px calc(50% - 116px); }
  @media screen and (max-width: 1024px) {
    .submit-project-btn {
      position: relative; } }

/* send pitch your project button -- side menu on desktop */
.pitch-your-project-btn {
  background-color: #ffffff;
  color: #ff8a00;
  width: 100%;
  height: 40px;
  margin: 9px 0px; }

/* header btns */
.header-btns .pitch-btn, .header-btns .apply-btn {
  margin: 23px 2px;
  font-size: 11px; }
  @media screen and (max-width: 750px) {
    .header-btns .pitch-btn, .header-btns .apply-btn {
      margin: 20px 2px;
      padding: 5px;
      width: 130px; } }
  @media screen and (max-width: 480px) {
    .header-btns .pitch-btn, .header-btns .apply-btn {
      width: 80%;
      font-size: 15px;
      font-weight: 200;
      height: 40px; } }
  @media screen and (device-width: 580px) {
    .header-btns .pitch-btn, .header-btns .apply-btn {
      display: none; } }
.header-btns .apply-btn {
  background-color: #fabe28;
  margin-right: 20px; }
  @media screen and (max-width: 480px) {
    .header-btns .apply-btn {
      margin: 0; } }
  .header-btns .apply-btn:hover {
    background-color: #ffffff;
    border: 2px solid #fabe28;
    color: #fabe28; }
@media screen and (min-width: 480px) {
  .header-btns {
    float: right; } }
@media screen and (max-width: 480px) {
  .header-btns {
    width: 100%;
    text-align: center; } }

/*buttons blog section homepage // arrows */
.blog-arrow-btn {
  border: none;
  outline: none;
  float: right;
  width: 40px;
  height: 40px; }

.left-arrow {
  background: url("../img/blog-left-arrow.png") no-repeat;
  background-size: 35px 35px; }

.right-arrow {
  background: url("../img/blog-right-arrow.png") no-repeat;
  background-size: 35px 35px; }

.read-more-plus {
  background: url("../img/more-blg-plus.png") no-repeat;
  width: 48px;
  height: 49px;
  border: none; }

/*post comment to blogpost button, on single post page */
.blog-reply-btn, .form-submit .submit {
  text-transform: uppercase;
  background-color: #00c176;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 42px;
  margin-top: 15px; }

/* buttons on the register project form at bottom of the website*/
.sponsor-arrow {
  height: 30px;
  margin-top: 15px; }

.close-register {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin: 0 auto;
  padding: 10px 0;
  clear: both;
  display: block; }
  @media screen and (max-width: 800px) {
    .close-register {
      padding: 5px 0; } }

/* icons for newsletter popup and register project form*/
.name-icon-white {
  background: url("../img/pitch-your-project-name-icon.png") no-repeat 4px 0px; }

.email-icon-white {
  background: url("../img/pitch-your-project-email-icon.png") no-repeat 4px 0px; }

.company-icon-white {
  background: url("../img/pitch-your-project-company-icon.png") no-repeat 1px 0px; }

.phone-icon-white {
  background: url("../img/pitch-your-project-phone-icon.png") no-repeat 4px 0px; }

/* icons for the methods sections*/
.icon-methods:hover {
  cursor: pointer; }

/* icons for the sponsor a project section */
.name-icon-orange {
  background: url("../img/register-name-icon.png") no-repeat 4px 0; }
  @media screen and (max-width: 480px) {
    .name-icon-orange {
      background: none; } }

.email-icon-orange {
  background: url("../img/register-email-icon.png") no-repeat 4px 0; }
  @media screen and (max-width: 480px) {
    .email-icon-orange {
      background: none; } }

.company-icon-orange {
  background: url("../img/register-company-icon.png") no-repeat 4px 0; }
  @media screen and (max-width: 480px) {
    .company-icon-orange {
      background: none; } }

.phone-icon-orange {
  background: url("../img/register-phone-icon.png") no-repeat 4px 0; }
  @media screen and (max-width: 480px) {
    .phone-icon-orange {
      background: none; } }

.register-form, .wpcf7-form {
  text-align: left;
  padding-top: 5px;
  margin: 0 auto;
  width: 75%;
  padding-top: 8px;
  outline: none; }
  .register-form br, .wpcf7-form br {
    display: none; }
  .register-form .register-input, .wpcf7-form .register-input {
    width: 100%;
    border: 2px solid #ff8a00;
    box-sizing: border-box;
    padding-left: 28px; }
  .register-form .project-descr, .wpcf7-form .project-descr {
    width: 100%;
    height: 90px;
    border: 2px solid #ff8a00;
    box-sizing: border-box;
    resize: none;
    margin: 0;
    padding: 2px;
    background-color: #ffffff; }
  .register-form .register-form-left, .wpcf7-form .register-form-left {
    float: left;
    width: 49%; }
  .register-form .register-form-right, .wpcf7-form .register-form-right {
    float: right;
    width: 49%; }
  .register-form .input-wrapper, .wpcf7-form .input-wrapper {
    height: 100px;
    margin-bottom: 15px; }

.register-form .wpcf7 p {
  float: left;
  width: 48%;
  margin-top: 0;
  margin-bottom: 0; }
  .register-form .wpcf7 p:nth-child(3), .register-form .wpcf7 p:nth-child(5) {
    margin-right: 4%; }
  .register-form .wpcf7 p:nth-child(7) {
    width: 100%; }
  .register-form .wpcf7 p:nth-child(8) {
    float: right;
    width: 100%; }
  @media screen and (max-width: 800px) {
    .register-form .wpcf7 p {
      width: 100%; } }

.register-input {
  width: 100%;
  border: 2px solid #ff8a00;
  box-sizing: border-box;
  padding-left: 27px; }

.pitch-form {
  text-align: left;
  margin: 0 auto;
  width: 88%;
  padding-top: 8px; }
  .pitch-form label {
    color: #ffffff;
    width: 90%; }

br {
  display: none; }

label {
  display: block;
  font-size: 0.8em;
  margin: 10px 0 3px 0;
  text-transform: uppercase;
  color: #ff8a00;
  font-size: 0.8em;
  margin: 10px 0 3px 0;
  text-transform: uppercase; }

.project-descr {
  height: 100px;
  padding: 0 0 0 5px; }

.pitch-form {
  text-align: left;
  margin: 0 auto;
  width: 88%;
  padding-top: 8px; }
  .pitch-form label {
    color: #ffffff;
    width: 90%; }

.pitch-input, .pitch-project-descr {
  width: 88%;
  border: 1px solid #ffffff;
  background-color: #ff8a00;
  padding: 2px 0 2px 32px;
  font-size: 0.9em; }

.pitch-project-descr {
  height: 100px;
  width: 87%;
  padding: 2px 32px 2px 5px; }

br {
  display: none; }

/*MEDIA SCREENS*/
@media screen and (max-width: 480px) {
  .reply-wrapper .project-descr, .reply-wrapper .register-input {
    border: 1px solid #ff8a00; }

  .register-input {
    padding-left: 5px; }

  .register-form, .wpcf7-form {
    width: 90%; } }
@media screen and (max-width: 870px) {
  .register-form-right {
    float: none;
    width: 100%; }

  .register-form-left {
    float: none;
    width: 100%; }

  .input-wrapper {
    height: 100%;
    margin-bottom: 10px; } }
/* Partials */
#pitch-your-project {
  display: none; }

.pitch-your-project-section {
  animation-name: pitch-your-project-slide-open;
  animation-duration: 1s;
  display: block;
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: #ff8a00;
  z-index: 16;
  overflow: hidden;
  text-transform: uppercase;
  right: 0;
  /*
  @media screen and (max-width: 480px) {
  	width: 100vw;
  	z-index: 20;
  	position: relative;
  }
  */ }
@keyframes pitch-your-project-slide-close {
  from {
    right: 0; }
  to {
    right: 0px; } }
@keyframes pitch-your-project-slide-open {
  from {
    right: 0px; }
  to {
    right: 0; } }
.pitch-your-project-hidden {
  display: block;
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: #ff8a00;
  z-index: 16;
  overflow: hidden;
  text-transform: uppercase;
  right: 0;
  /*
  @media screen and (max-width: 480px) {
  	width: 100vw;
  	z-index: 20;
  	position: relative;
  }
  */
  animation-name: pitch-your-project-slide-close;
  animation-duration: 1s; }
@keyframes pitch-your-project-slide-close {
  from {
    right: 0; }
  to {
    right: -350px; } }
@keyframes pitch-your-project-slide-open {
  from {
    right: -350px; }
  to {
    right: 0; } }
.pitch-your-project {
  height: 100vh;
  color: #ffffff;
  background: #ff8a00; }
  .pitch-your-project .pitch-text {
    text-transform: none;
    font-size: 14px;
    margin: 0 auto; }
    @media screen and (max-width: 710px) {
      .pitch-your-project .pitch-text {
        display: none; } }
  .pitch-your-project h2.pitch-title {
    margin: 15px 0 12px;
    font-size: 30px;
    text-align: left;
    width: 200px; }
    @media screen and (max-width: 920px) {
      .pitch-your-project h2.pitch-title {
        width: auto;
        font-size: 20px; } }
  .pitch-your-project .pitch-text-wrapper {
    margin: 0 auto;
    width: 88%; }

.close-pitch {
  border: none;
  margin-top: -8px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  outline: none;
  float: right; }
  .close-pitch:after, .close-pitch:before, .close-pitch span {
    background-color: #ffffff;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .close-pitch:before {
    -moz-transform: translateY(12px) rotate(135deg);
    -webkit-transform: translateY(12px) rotate(135deg);
    -ms-transform: translateY(12px) rotate(135deg);
    transform: translateY(12px) rotate(135deg); }
  .close-pitch:after {
    -moz-transform: translateY(-12px) rotate(-135deg);
    -webkit-transform: translateY(-12px) rotate(-135deg);
    -ms-transform: translateY(-12px) rotate(-135deg);
    transform: translateY(-12px) rotate(-135deg); }
  .close-pitch span {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

/*MEDIA:SCREENS*/
@media screen and (min-width: 480px) {
  .pitch-your-project-section {
    animation-name: pitch-your-project-slide-open;
    animation-duration: 1s; }

  .close-pitch {
    display: none; }

  h2.pitch-title {
    font-size: 30px; } }
@media screen and (max-width: 480px) {
  .pitch-your-project-section {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ff8a00;
    z-index: 16;
    overflow: hidden;
    text-transform: uppercase;
    right: 0;
    /*
    @media screen and (max-width: 480px) {
    	width: 100vw;
    	z-index: 20;
    	position: relative;
    }
    */
    height: calc(100vh - 60px); }
  @keyframes pitch-your-project-slide-close {
    from {
      right: 0; }
    to {
      right: 100%; } }
  @keyframes pitch-your-project-slide-open {
    from {
      right: 100%; }
    to {
      right: 0; } }
  .pitch-your-project-hidden {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ff8a00;
    z-index: 16;
    overflow: hidden;
    text-transform: uppercase;
    right: 0;
    /*
    @media screen and (max-width: 480px) {
    	width: 100vw;
    	z-index: 20;
    	position: relative;
    }
    */ }
  @keyframes pitch-your-project-slide-close {
    from {
      right: 0; }
    to {
      right: -100%; } }
  @keyframes pitch-your-project-slide-open {
    from {
      right: -100%; }
    to {
      right: 0; } }
  .pitch-text-wrapper {
    width: 100vw; } }
.footer {
  text-align: center;
  padding: 0 0 30px 0; }
  .footer .footer-list {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0; }
    .footer .footer-list .footer-li {
      display: inline-block; }
  .footer .footer-item {
    margin: 50px 10px 10px 10px;
    display: block;
    width: 60px;
    font-size: 0.8em; }
    .footer .footer-item .footer-img {
      margin: 0 auto;
      height: 28px; }
    .footer .footer-item .footer-text {
      display: none; }
    .footer .footer-item .hexagon-inner {
      position: relative;
      width: 48px;
      height: 28px;
      background-color: #ffffff;
      margin: 14px 0;
      top: 4px;
      z-index: 1; }
    .footer .footer-item .hexagon-inner:before,
    .footer .footer-item .hexagon-inner:after {
      content: "";
      position: absolute;
      width: 0;
      right: 0px;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent; }
    .footer .footer-item .hexagon-inner:before {
      bottom: 100%;
      border-bottom: 14px solid #ffffff; }
    .footer .footer-item .hexagon-inner:after {
      top: 100%;
      border-top: 14px solid #ffffff; }
    .footer .footer-item .fa {
      font-size: 30px; }
  .footer .footer-facebook .hexagon-outer {
    position: relative;
    width: 48px;
    height: 35px;
    background-color: #00c176;
    margin: 17px auto;
    border-left: 6px solid #00c176;
    border-right: 6px solid #00c176; }
  .footer .footer-facebook .hexagon-outer:before,
  .footer .footer-facebook .hexagon-outer:after {
    content: "";
    position: absolute;
    width: 0;
    right: -6px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  .footer .footer-facebook .hexagon-outer:before {
    bottom: 100%;
    border-bottom: 17px solid #00c176; }
  .footer .footer-facebook .hexagon-outer:after {
    top: 100%;
    border-top: 17px solid #00c176; }
  .footer .footer-facebook .fa {
    color: #00c176; }
  .footer .footer-twitter .hexagon-outer {
    position: relative;
    width: 48px;
    height: 35px;
    background-color: #ff8a00;
    margin: 17px auto;
    border-left: 6px solid #ff8a00;
    border-right: 6px solid #ff8a00; }
  .footer .footer-twitter .hexagon-outer:before,
  .footer .footer-twitter .hexagon-outer:after {
    content: "";
    position: absolute;
    width: 0;
    right: -6px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  .footer .footer-twitter .hexagon-outer:before {
    bottom: 100%;
    border-bottom: 17px solid #ff8a00; }
  .footer .footer-twitter .hexagon-outer:after {
    top: 100%;
    border-top: 17px solid #ff8a00; }
  .footer .footer-twitter .fa {
    color: #ff8a00; }
  .footer .footer-linkedin .hexagon-outer {
    position: relative;
    width: 48px;
    height: 35px;
    background-color: #fabe28;
    margin: 17px auto;
    border-left: 6px solid #fabe28;
    border-right: 6px solid #fabe28; }
  .footer .footer-linkedin .hexagon-outer:before,
  .footer .footer-linkedin .hexagon-outer:after {
    content: "";
    position: absolute;
    width: 0;
    right: -6px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  .footer .footer-linkedin .hexagon-outer:before {
    bottom: 100%;
    border-bottom: 17px solid #fabe28; }
  .footer .footer-linkedin .hexagon-outer:after {
    top: 100%;
    border-top: 17px solid #fabe28; }
  .footer .footer-linkedin .fa {
    color: #fabe28; }
  .footer .copyright-span {
    display: block;
    margin: 5px;
    font-weight: 700;
    font-size: 0.6em; }

/*nav animation hamburger*/
.nav-icon, .nav-icon-cross {
  background-color: #ffffff;
  margin: 1em;
  width: 40px;
  height: 45px;
  vertical-align: top; }
  .nav-icon:after, .nav-icon:before, .nav-icon span, .nav-icon-cross:after, .nav-icon-cross:before, .nav-icon-cross span {
    background-color: #000000;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .nav-icon:hover:before, .nav-icon-cross:hover:before {
    -moz-transform: translateY(12px) rotate(135deg);
    -webkit-transform: translateY(12px) rotate(135deg);
    -ms-transform: translateY(12px) rotate(135deg);
    transform: translateY(12px) rotate(135deg); }
  .nav-icon:hover:after, .nav-icon-cross:hover:after {
    -moz-transform: translateY(-12px) rotate(-135deg);
    -webkit-transform: translateY(-12px) rotate(-135deg);
    -ms-transform: translateY(-12px) rotate(-135deg);
    transform: translateY(-12px) rotate(-135deg); }
  .nav-icon:hover span, .nav-icon-cross:hover span {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  @media screen and (max-width: 480px) {
    .nav-icon, .nav-icon-cross {
      margin: 0.5em; } }

/* drop down menu styling */
.nav-collapse {
  background: #ffffff;
  overflow: hidden;
  width: 100%;
  display: none; }
  .nav-collapse ul {
    list-style-type: none;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    width: 95%;
    padding: 0;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px; }
    .nav-collapse ul li {
      margin-left: 10px;
      line-height: 30px;
      height: 30px;
      display: inline-block;
      width: 250px; }
      @media screen and (max-width: 480px) {
        .nav-collapse ul li {
          width: 100%;
          margin: 0;
          line-height: 40px;
          height: 40px; } }
      .nav-collapse ul li a {
        color: #000000;
        text-decoration: none; }
        .nav-collapse ul li a:hover, .nav-collapse ul li a:active {
          color: #00c176; }
          .nav-collapse ul li a:hover:before, .nav-collapse ul li a:active:before {
            font-family: FontAwesome;
            content: '\f178';
            margin-left: -25px;
            padding-right: 5px; }
    @media screen and (max-width: 480px) {
      .nav-collapse ul {
        text-align: center;
        margin: 0;
        font-size: 22px;
        width: 100%; } }
  @media screen and (max-width: 480px) {
    .nav-collapse {
      min-height: calc(100vh - 60px); } }

.header {
  width: 100%;
  height: 81px;
  background: #ffffff;
  top: 0;
  z-index: 15;
  position: fixed; }
  @media screen and (max-width: 480px) {
    .header {
      height: 215px; } }
  @media screen and (max-device-width: 480px) {
    .header {
      height: 60px; } }
  .header .logo {
    width: 70px;
    margin-top: 8px;
    height: auto;
    margin-left: calc(50% - 2em - 75px); }
    @media screen and (max-width: 850px) {
      .header .logo {
        margin-left: calc(50% - 205px); } }
    @media screen and (max-width: 480px) {
      .header .logo {
        width: 50px;
        margin-left: calc(50% - 2em - 50px); } }

.newsletter-block {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  top: 0;
  color: #ffffff;
  justify-content: center;
  align-items: center; }
  .newsletter-block .newsletter-container {
    background-color: #ff8a00;
    width: 500px;
    padding: 30px 30px 35px; }
    .newsletter-block .newsletter-container p {
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 25px;
      margin: 10px 0 15px; }
    .newsletter-block .newsletter-container form {
      margin: 0 auto;
      width: 300px;
      text-transform: uppercase; }
      .newsletter-block .newsletter-container form input {
        width: 267px;
        border: solid 1px;
        margin: 5px 0 10px;
        padding-left: 30px;
        outline: none;
        font-size: 15px; }
    .newsletter-block .newsletter-container .pitch {
      display: block;
      font-weight: 300; }
    .newsletter-block .newsletter-container .name-input {
      margin-bottom: 25px; }
    .newsletter-block .newsletter-container .close-newsletter {
      float: right;
      background: none;
      border: none;
      margin: -20px -15px 0 0;
      font-size: 20px;
      outline: none;
      width: 20px; }
    @media screen and (max-width: 480px) {
      .newsletter-block .newsletter-container {
        width: 70vw;
        padding-bottom: 45px; }
        .newsletter-block .newsletter-container form {
          width: 100%; }
          .newsletter-block .newsletter-container form input {
            width: 85%; }
        .newsletter-block .newsletter-container .register-btn {
          width: 100%;
          margin-top: 25px; } }

/* Sections */
.home-section {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-top: 81px; }
  @media screen and (max-width: 480px) {
    .home-section {
      display: block;
      position: relative;
      width: 100%;
      margin-top: 215px;
        /* .mobile-home-slider{
            list-style-type: none;
            padding:0;
            margin:0;
        }

        .mobile-home-slide{
            list-style-type: none;
        } */ }
      .home-section .mobile-home-slider-image {
        width: 100%; } }
  @media screen and (max-device-width: 480px) {
    .home-section {
      margin-top: 60px; } }

.home-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* 
.mobile-home-slider-nav {
    list-style-type: none;
    padding: 0;
    margin-left: calc(50% - 45px);
    bottom: 0;
    position: absolute;
}

.mobile-home-slider-bullet {
    display: inline;
    margin: 3px;
    list-style-position: inside;
    overflow: hidden;

    a {
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        border: 2px solid $white;
        text-decoration: none;

        &:active {
            background: $white;
        }
    }
}
*/
.methods-section {
  position: relative;
  max-width: 1000px;
  width: 91%;
  margin: 0 auto; }
  .methods-section p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Arial, sans-serif; }
  .methods-section .agile-scrum-image {
    width: 100%; }

.photo-impressions-section-mobile {
  display: block;
  width: 100%;
  position: relative; }
  .photo-impressions-section-mobile .mobile-photo-slider {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: -4px;
    margin-top: 10px; }
    .photo-impressions-section-mobile .mobile-photo-slider .mobile-photo-slider-item:nth-child(2) {
      display: block; }
    .photo-impressions-section-mobile .mobile-photo-slider .mobile-photo-slider-item .mobile-photo {
      width: 100%; }
  .photo-impressions-section-mobile .mobile-photo-slider-nav {
    list-style-type: none;
    padding: 0;
    margin-left: calc(50% - 45px);
    bottom: 0;
    position: absolute; }
    .photo-impressions-section-mobile .mobile-photo-slider-nav .mobile-photo-slider-bullet {
      display: inline;
      margin: 3px;
      list-style-position: inside;
      overflow: hidden; }
      .photo-impressions-section-mobile .mobile-photo-slider-nav .mobile-photo-slider-bullet a {
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        text-decoration: none; }
        .photo-impressions-section-mobile .mobile-photo-slider-nav .mobile-photo-slider-bullet a:active {
          background: #ffffff; }

.testimonials-mobile-section {
  width: 100%;
  height: auto;
  background-color: #ff8a00;
  color: #ffffff; }
  .testimonials-mobile-section .testimonials-wrap-mobile {
    width: auto;
    margin: 0 auto;
    padding: 20px 0; }
    .testimonials-mobile-section .testimonials-wrap-mobile .testimonials-quote-mobile {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-style: italic;
      font-size: 13px;
      line-height: 1.3em; }
    .testimonials-mobile-section .testimonials-wrap-mobile .employee-image-mobile {
      width: 20%;
      border-radius: 100%;
      margin-left: 50px; }
    .testimonials-mobile-section .testimonials-wrap-mobile .employee-info-mobile {
      width: 60%;
      float: right;
      margin-top: 15px; }
      .testimonials-mobile-section .testimonials-wrap-mobile .employee-info-mobile .employee-name-mobile {
        display: block;
        font-size: 13px;
        font-weight: 600; }
      .testimonials-mobile-section .testimonials-wrap-mobile .employee-info-mobile .employee-job-mobile {
        display: block;
        font-size: 12px; }

.projects-section {
  background-color: #00c176;
  height: auto;
  width: 100%;
  overflow: hidden; }
  .projects-section .board-projects {
    color: #000000;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin: 26% auto;
    width: 100%;
    left: -16%; }
  .projects-section .board-titles {
    width: 100%;
    text-align: center;
    list-style: none; }
    .projects-section .board-titles li {
      line-height: 30px; }
    .projects-section .board-titles:nth-child(2), .projects-section .board-titles:nth-child(3) {
      margin-top: 80px; }
  .projects-section .projects-title {
    color: #ffffff; }
  .projects-section p {
    color: #ffffff;
    padding: 0 0 5% 0; }
  .projects-section .scrum-board-img {
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    max-width: 100%; }
  .projects-section .submit-project {
    text-align: center;
    margin: 8%; }
  .projects-section .scrum-board {
    height: auto;
    max-width: 294px;
    position: relative;
    margin: 0 auto; }
  .projects-section .hand {
    position: absolute;
    z-index: 1;
    top: -76px;
    right: 234px; }
    @media screen and (min-width: 480px) {
      .projects-section .hand {
        display: none; } }
  .projects-section .note {
    position: absolute;
    top: 128px;
    left: 5px;
    -webkit-transform: scale(0.5);
    /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
    -moz-transform: scale(0.5);
    /* Fx 3.5-15 */
    -ms-transform: scale(0.5);
    /* IE 9 */
    -o-transform: scale(0.5);
    /* Op 10.5-12 */
    transform: scale(0.5);
    /* Fx 16+, IE 10+ */ }
  .projects-section .sticky-2 {
    top: 400px;
    left: 205px; }
  .projects-section .static-magnet {
    display: none; }

.projects-text {
  height: auto;
  margin: 0 auto; }

.partners-section {
  width: 100%;
  height: auto;
  color: #000000; }
  .partners-section .partners-info {
    padding-top: 8px; }
    .partners-section .partners-info .partners-title {
      color: #ffffff; }
    .partners-section .partners-info .partners-text {
      font-weight: 300;
      width: 80%;
      margin: 5% auto; }

.background-partners {
  max-width: 100%;
  height: auto; }

.flex-container {
  padding: 0;
  margin: 30px auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-container .flex-item {
    padding: 2px;
    width: 30%;
    height: 70px;
    margin: 10px 20px; }
    .flex-container .flex-item .competa {
      background: url("../img/competa_color.png"); }
    .flex-container .flex-item .developpp {
      background: url("../img/develoPPP-color.png"); }
    .flex-container .flex-item .dewcis {
      background: url("../img/dewcis-color.png"); }
    .flex-container .flex-item .bti {
      background: url("../img/btimillman-color.png"); }
    .flex-container .flex-item .german {
      background: url("../img/german-cooperation-color.png"); }
    .flex-container .flex-item .sequa {
      background-image: url("../img/sequa-color.png"); }

.flex-item-link, .flex-container .flex-item .competa, .flex-container .flex-item .developpp, .flex-container .flex-item .dewcis, .flex-container .flex-item .bti, .flex-container .flex-item .german, .flex-container .flex-item .sequa {
  height: 100%;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }
  .flex-item-link:hover, .flex-container .flex-item .competa:hover, .flex-container .flex-item .developpp:hover, .flex-container .flex-item .dewcis:hover, .flex-container .flex-item .bti:hover, .flex-container .flex-item .german:hover, .flex-container .flex-item .sequa:hover {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center; }

.blog-section {
  height: auto;
  width: auto;
  margin-bottom: 20px; }
  .blog-section .blog-title {
    color: #000000; }

.blog-container {
  height: inherit;
  width: 300px;
  margin: 0 auto; }

.blog-item {
  margin: 15px auto;
  width: 280px;
  height: 215px; }

.blog-wrap {
  display: block;
  width: 280px;
  height: 47px;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center; }

.blog-subject {
  padding: 11px 0 3px 0; }
  .blog-subject span {
    font-size: 18px;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    width: 250px; }

.blog-subject-line {
  border-top: 2.5px #ffffff solid;
  width: 8%;
  margin: 0 auto; }

.blog-content {
  padding: 15px 15px 5px;
  font-size: 12px; }
  .blog-content p {
    overflow: hidden;
    text-overflow: clip;
    height: 70px; }

.comment-wrap {
  width: 280px;
  padding: 10px 0;
  margin: 0 auto; }

.blog-icon {
  width: 50px;
  height: 20px;
  display: inline-block;
  padding: 2px 5px 0 24px; }
  .blog-icon .fa {
    font-size: 20px;
    padding-right: 5px; }

.blog-header {
  width: 100%;
  height: 110px;
  margin-top: 130px;
  text-align: center;
  background: url("../img/blogheader.jpg") no-repeat 4px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .blog-header .overlay {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #17c562;
    background-color: rgba(23, 197, 98, 0.9); }
  .blog-header h1 {
    text-transform: uppercase;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 45px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500; }
  @media screen and (max-width: 480px) {
    .blog-header {
      margin-top: 215px;
      height: 60px; }
      .blog-header h1 {
        font-size: 25px; } }
  @media screen and (max-device-width: 480px) {
    .blog-header {
      margin-top: 60px; } }

.main {
  padding: 17px 0 0 100px;
  width: 70%;
  display: inline-block;
  box-sizing: border-box; }
  .main .wrapper {
    margin-bottom: 30px; }
  .main .article-block {
    word-break: break-all;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 2px solid #acacac;
    box-sizing: border-box;
    color: #000000; }
    .main .article-block:first-child {
      margin-top: 70px; }
    .main .article-block:last-child {
      margin-bottom: 0; }
    .main .article-block .icon-header {
      margin: 5px 10px 0 0;
      max-width: 100%;
      position: relative;
      float: right; }
      @media screen and (max-width: 1100px) {
        .main .article-block .icon-header {
          width: 115px; }
          .main .article-block .icon-header i {
            font-size: 1.2em; } }
    .main .article-block .first-art {
      padding: 0 30px 30px; }
      .main .article-block .first-art .author-info {
        font-size: 15px;
        font-style: italic;
        margin-top: 10px; }
    .main .article-block .art-article {
      margin: 15px 0px 10px;
      font-size: 33px; }
      .main .article-block .art-article a {
        color: #000000; }
    .main .article-block .img-wrapper {
      max-height: 300px;
      width: 100%;
      overflow: hidden;
      margin: 0; }
      .main .article-block .img-wrapper .big-image {
        width: 100%;
        height: auto;
        margin: 0; }
      @media screen and (max-width: 480px) {
        .main .article-block .img-wrapper {
          max-height: 200px;
          margin: 0 -1px -15px; }
          .main .article-block .img-wrapper .big-image {
            height: auto;
            max-width: 100%; } }
  @media screen and (max-width: 750px) {
    .main {
      padding: 17px 0 0 45px;
      width: 65%; } }
  @media screen and (max-width: 580px) {
    .main {
      padding: 17px 0 0 22px;
      width: 96%; } }

.aside {
  width: 400px;
  float: right; }

.searchbox {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  color: black; }
  @media screen and (max-device-width: 580px) {
    .searchbox {
      width: 47%;
      display: inline-block; } }
  .searchbox .searchbox-input {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    border: solid 1px #acacac; }
  .searchbox .searchbox-icon {
    margin: 10px -20px 0 -40px;
    float: left; }

.category-select {
  margin-bottom: 30px;
  width: 47%;
  height: 50px;
  color: black;
  display: inline-block;
  float: right;
  position: relative; }
  .category-select:after {
    content: "";
    display: block;
    color: orange;
    position: absolute;
    top: calc(50% - 6px);
    right: 8px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid orange; }
  .category-select .postform {
    -webkit-appearance: none;
    /*webkit browsers */
    -moz-appearance: none;
    /*Firefox */
    appearance: none;
    /* modern browsers */
    border-radius: 0;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    border: solid 1px #acacac;
    background: white;
    border-radius: 0;
    color: #acacac;
    font-size: 16px; }

.wp-pagenavi {
  font-size: 21px;
  margin: -55px 0 0 calc(100% + 20px); }
  .wp-pagenavi span, .wp-pagenavi a {
    border: none; }
  .wp-pagenavi span {
    color: #ff8a00;
    font-weight: 400; }
  .wp-pagenavi a {
    color: #acacac; }
  .wp-pagenavi .extend, .wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink {
    color: #000000; }
  @media screen and (max-width: 1050px) {
    .wp-pagenavi {
      margin: -55px 0 0 calc(100% + 20px); } }
  @media screen and (max-width: 920px) {
    .wp-pagenavi {
      margin: 15px 0 15px 10px; } }

@media screen and (max-width: 480px) {
  .main {
    padding: 17px 0 0 15px;
    width: 96%; }
    .main .icon-header {
      display: none; }
    .main .article-block {
      border: 1px solid #acacac; }
      .main .article-block:first-child {
        margin-top: 0px; }
      .main .article-block .first-art {
        padding: 10px; }
        .main .article-block .first-art .author-info {
          margin: 0;
          font-size: 12px; }
        .main .article-block .first-art .art-article {
          font-size: 25px;
          margin: 15px 0; }
          .main .article-block .first-art .art-article a {
            color: #000000; }
        .main .article-block .first-art .art-excerpt {
          font-size: 15px;
          color: #707070; }

  .blog-nav {
    width: 100%;
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    float: none;
    text-align: center; } }
  @media screen and (max-width: 480px) and (max-width: 580px) {
    .blog-nav {
      text-align: left;
      margin: 0 0 30px 0; } }
@media screen and (max-width: 480px) {
    .blog-nav ΓÇï
    .wp-pagenavi a {
      padding: 3px 10px;
      font-weight: 300; }

  .mobile-aside {
    padding: 12px 0 0 20px;
    width: 40.4%;
    float: left; }
    .mobile-aside .searchbox, .mobile-aside .postform {
      margin-bottom: 5px;
      width: 100%;
      height: 40px;
      color: #000;
      border: 1px solid #acacac;
      background-color: #ffffff;
      border-radius: 0;
      outline: none; }
      .mobile-aside .searchbox .searchbox-icon, .mobile-aside .postform .searchbox-icon {
        margin: 9px -20px 0 -35px;
        height: 20px;
        width: auto; }
      .mobile-aside .searchbox .searchbox-input, .mobile-aside .postform .searchbox-input {
        height: 40px; }
    .mobile-aside .postform {
      color: #acacac;
      height: 42px;
      padding-left: 16px; }
    .mobile-aside .mob-side-title, .mobile-aside .screen-reader-text {
      display: none; } }
.register-section {
  background: url("../img/register-background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 0;
  text-transform: uppercase; }
  .register-section .open-register-project {
    background: #ffffff;
    text-align: center;
    height: 175px;
    width: 400px;
    cursor: pointer;
    margin: 50px auto; }
    .register-section .open-register-project .sponsor-arrow {
      height: 30px;
      margin-top: 15px; }
    @media screen and (max-width: 480px) {
      .register-section .open-register-project {
        display: none; } }
  .register-section .register-project {
    background: #ffffff;
    text-align: center;
    height: auto;
    width: 80%;
    margin: 50px auto;
    padding-bottom: 5px;
    height: auto; }
    @media screen and (max-width: 850px) {
      .register-section .register-project {
        background: #ffffff;
        text-align: center;
        height: auto;
        width: 90%; } }
  @media screen and (max-width: 480px) {
    .register-section {
      display: block; }
      .register-section .register-form .wpcf7 p {
        float: none; }
      .register-section .send-register-btn {
        float: none; }
      .register-section .open-register-project, .register-section .close-register {
        display: none; } }

.reply-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 1.3em 1.3em 1.3em 1.3em;
  text-transform: uppercase;
  margin: 30px -1px 20px 0; }
  .reply-wrapper p {
    text-align: left;
    display: block;
    float: left;
    margin: 0; }
  .reply-wrapper label {
    font-size: 12px;
    color: #ff8a00; }
  .reply-wrapper input {
    width: 100%;
    border: 2px solid #ff8a00;
    box-sizing: border-box;
    padding-left: 5px; }
  .reply-wrapper textarea {
    width: 100%;
    border: 2px solid #ff8a00;
    box-sizing: border-box;
    padding-left: 5px; }
  .reply-wrapper .required {
    float: left; }
  .reply-wrapper .input-wrapper {
    width: 97%;
    color: #000000; }
    .reply-wrapper .input-wrapper .reply-div {
      margin-bottom: 10px; }
    .reply-wrapper .input-wrapper .reply-info {
      float: left;
      display: inline-block;
      width: 43%; }
    .reply-wrapper .input-wrapper .comment-input {
      height: 150px; }
    .reply-wrapper .input-wrapper .reply-right {
      float: right; }
    .reply-wrapper .input-wrapper .reply-button {
      width: 43%; }

/*styling for the comments in the reply section below a blog */
.comment-form-comment {
  width: calc(70% + 60px); }
  @media screen and (max-width: 1020px) {
    .comment-form-comment {
      width: 100%; } }

.comment-form-email, .comment-form-url, .comment-form-author, .form-submit {
  width: 35%;
  padding: 0 60px 0 0; }
  @media screen and (max-width: 1020px) {
    .comment-form-email, .comment-form-url, .comment-form-author, .form-submit {
      width: 100%;
      float: none; } }

.form-submit .submit {
  margin-top: 21px; }

.comment-author img {
  width: 35px;
  display: inline-block; }
.comment-author .fn, .comment-author .says {
  display: inline-block;
  margin-left: 4px; }
  .comment-author .fn a, .comment-author .says a {
    color: #000000;
    font-size: 17px; }
.comment-author .says {
  line-height: 20px; }

.comment-author.vcard {
  display: flex; }

.commentmetadata, .comment-body p {
  margin-left: 39px; }

.commentmetadata {
  z-index: 15;
  margin-top: -16px; }

.reply {
  margin: 0 40px 5px; }

.comments-title {
  margin-bottom: 10px; }

.comment-body {
  border: 1px solid #ff8a00;
  margin: 10px 0;
  padding: 10px; }

/*comment on comment */
ul.children {
  margin-left: 35px; }

.comments-area hr {
  margin: 25px 0; }

/* vendor */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=mobile-style.css.map */
