bower_components
node_modules
build
.sass-cache
/codepamoja.com.iml
.idea

/vagrantpress/wordpress/wp-admin
/vagrantpress/wordpress/.htaccess
/vagrantpress/wordpress/license.txt
/vagrantpress/wordpress/sitemap.backup.xml.gz
/vagrantpress/wordpress/sitemap.backup.xml
/vagrantpress/puppet
/vagrantpress/wordpress/readme.html
/vagrantpress/wordpress/wp-content/*
!/vagrantpress/wordpress/wp-content/themes
/vagrantpress/wordpress/wp-includes/
/vagrantpress/wordpress/wp-*.php
/vagrantpress/wordpress/index.php
/vagrantpress/wordpress/xmlrpc.php
