.scrum-agile-settings {
  position: relative;
  margin: 5px 10px 30px;
  width: 100%;
  color: #fff;
  
  img {
    margin-top: 130px;
    width: 100%;
  }

  .admin-balloons-container {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;

    display: flex;
    justify-content: space-between;

    .single-balloon-container {
      width: 100%;
      height: auto;

      .balloon{
        width: 90%;
        height: 120px;
        padding: 10px;
        background: #d15f23;
        text-align: center;
        transition: 1s;
        overflow: hidden;
        margin-top: 150px;

        h4 {
          margin: 0;
          font-weight: 400;
          text-transform: uppercase;
        }

        p {
          margin: 0;
          font-size: 12px;
          display: none;
        }
        input, textarea{
          margin: 2px 0;
          width: 95%;
        }
      }

      &:nth-child(3) .balloon {
        // margin-left: 86px;
        margin-top: -20px;
      }
    }
  }
}