.display-height{
	display: block;
	height: 50px;
	
}
.hover{
	background-color: $white;
	border: 2px solid $dark-orange;
	color: $dark-orange;
	
}
.hover-white{
	background-color: $dark-orange;
	border: 2px solid $white;
	color: $white;
	
}
/* main button styling */
.btn {
	width: 150px;
	height: 35px;
	background-color: $dark-orange;
	border: 2px solid $dark-orange;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	color: $white;
	outline: none;
	text-decoration: none;
	border: none;
}

/* register for newsletter popup button */
.register-btn {
	@extend .display-height;
	background-color: $white;
    color: $dark-orange;
    width: 300px;
    margin: 0 auto;
	cursor: pointer;

    &:hover{
		@extend .hover-white;
	}
}

/* register project button */
.send-register-btn {
    @extend .display-height;
    width: 250px;
    margin: 10px 0 0;
    float: right;

    &:hover{
    	@extend .hover;
		
	}

	@media screen and (max-width: 800px) {
		margin: 10px 0 6px;
		width: 100%;
	}
}

/* project button -- project section + read more button on blog section homepage */
.submit-project-btn, .more-blogs-btn {
	height: auto;
	width: auto;
	padding: 16px 30px;
	border: 2px $white solid;
	margin: 10px auto 25px; 
    display: block;

    &:hover{
    	@extend .hover;
		
	}
}

.more-blogs-btn{
	margin: 0 auto;
}

.submit-project-btn{
	margin: 40px calc(50% - 116px);
	@media screen and (max-width: 1024px) {
		position:relative;
	}
}

/* send pitch your project button -- side menu on desktop */
.pitch-your-project-btn {
	background-color: $white;
	color: $dark-orange;
	width: 100%;
	height: 40px;
	margin: 9px 0px;

	&:hover{
		@extend .hover-white;
	}
}

/* header btns */
.header-btns {
	.pitch-btn, .apply-btn {
		margin: 23px 2px;
		font-size: 11px;

		@media screen and (max-width: 750px) {
			margin: 20px 2px;
			padding: 5px;
			width: 130px;
		}

		@media screen and (max-width: 480px) {
			width: 80%;
			font-size: 15px;
			font-weight: 200;
			height: 40px;
		}

		@media screen and (device-width: 580px) {
			display: none;
		}

	}

	.pitch-btn:hover{
		@extend .hover;
		
	}
	
	.apply-btn {
		background-color: $lighting-yellow;
		margin-right: 20px;

		@media screen and (max-width: 480px) {
		margin: 0;
		}

		&:hover{
			background-color: $white;
			border: 2px solid $lighting-yellow;
			color: $lighting-yellow;
		}
	}

	@media screen and (min-width: 480px) {
		float: right;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
		text-align: center;
	}
}

/*buttons blog section homepage // arrows */
.blog-arrow-btn {
	border: none;
	outline: none;
	float: right;
	width: 40px;
	height: 40px;
}

.left-arrow {
	background: url("../img/blog-left-arrow.png") no-repeat;
	background-size: 35px 35px;
}

.right-arrow {
	background: url("../img/blog-right-arrow.png") no-repeat;
	background-size: 35px 35px;
}

.read-more-plus {
	background: url("../img/more-blg-plus.png") no-repeat;
	width: 48px;
	height: 49px;
	border: none;
}

/*post comment to blogpost button, on single post page */
.blog-reply-btn, .form-submit .submit{
	text-transform: uppercase;
	background-color: $green-munsel;
	color: $white;
	border: none;
	width: 100%;
	height: 42px;
	margin-top: 15px;
}


/* buttons on the register project form at bottom of the website*/
.sponsor-arrow {
	height: 30px;
	margin-top: 15px;
}

.close-register{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin: 0 auto;
    padding: 10px 0;
    clear: both;
    display: block;

	@media screen and (max-width: 800px) {
    padding: 5px 0;
	}    
}